<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553201293055-1307o58ou369v3jsmifha1l4ndhhs014.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553201293055-1307o58ou369v3jsmifha1l4ndhhs014</string>
	<key>API_KEY</key>
	<string>AIzaSyChpZ6mJBapar_KXjK2-3hrRK4ZKapX_XA</string>
	<key>GCM_SENDER_ID</key>
	<string>553201293055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DduBucks.NEMODU</string>
	<key>PROJECT_ID</key>
	<string>nemodu-738bf</string>
	<key>STORAGE_BUCKET</key>
	<string>nemodu-738bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:553201293055:ios:f2c0bf83ce116dd26d5eca</string>
</dict>
</plist>
