<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>NENODU가 활동 기록 및 위치 공유를 위해 위치 정보를 사용하도록 허용합니다.</string>
	<key>NSMotionUsageDescription</key>
	<string>걸음수를 카운트하시려면 NEMODU의 헬스 데이터 접근을 허용해 주십시오.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
